.product {
  flex: 4;
  padding: 0 20px;
}

.productTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productAddButton {
    border: none;
    padding: 7px 10px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}